
#_cryptum_nft_info {
  background-color: #75757526;
  padding: 5px;
}
#_cryptum_nft_info_title {
  padding: 5px 0;
}
#_cryptum_nft_info p {
  margin: 0;;
}

#_cryptum_nft_nft_info {
  padding: 0 5px;
}